# Variables

## Numbers

In [5]:
# int - whole number, no matter how long
age = 23              # integer (seek help(int))

In [6]:
age                   # prints value of age or use print(age)

23

In [8]:
type(age)           # type() determines type of the variable

int

In [17]:
# integer in python can store data of any size and perform calculations on it
age_universe = 13000000000
age_universe

13000000000

In [18]:
age_universe_sec = age_universe * 365 * 24 * 60 * 60
age_universe_sec

409968000000000000

In [15]:
discount = -15                      # integers can hold negative values
discount

-15

In [16]:
type(discount)

int

In [10]:
weight = 53.8       # floating type

In [11]:
weight

53.8

In [14]:
type(weight)

float

In [27]:
data = 2 + 3j                     # complex (j represents treat it as a complex no)
data

(2+3j)

In [29]:
type(data)

complex

In [1]:
# or
c = complex(2,3)
c

(2+3j)

In [2]:
# absolute value of c
abs(c)

3.605551275463989

In [3]:
# imaginary part of c
c.imag

3.0

In [4]:
# real part of c
c.real

2.0

In [8]:
# conjugate of c
c.conjugate()

(2-3j)

## Boolean

In [4]:
t = True                    # boolean type (True or False)
t

True

In [24]:
boolean_1 = true                  # error

In [5]:
type(t)

bool

In [7]:
F = not t                      # logical not
F

False

In [8]:
F or t                        # logical or

True

In [9]:
F and t                       # logical and

False

In [10]:
a = False
b = True
c = True

In [11]:
(a and b) or c

True

In [12]:
a and (b or c)

False

In [38]:
"""                                                # docstring
# variable naming convention
1name   #error   can't contain nos at start
_name   #used in special purpose
name@   #can't contain special characters
name#   #valid
for     #can't have special keywords
"""

"\n# variable naming convention\n1name   #error   can't contain nos at start\n_name   #used in special purpose\nname@   #can't contain special characters\nname#   #valid\nfor     #can't have special keywords\n"

In [39]:
import keyword                     # gives list of all keywords in python
print ( keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
# Multiple assignments
age , weight = 27 , 48.8              # age=27 , weight=48.8

In [3]:
print("age = ", age)
print("weight = ", weight)

age =  27
weight =  48.8

In [9]:
type(age)                               #integer

int

In [10]:
type(weight)                            #float

float

In [1]:
# Printing
name = "Kumari"
mname = "Nandani"
lname = "Paliwal"
print(name,mname,lname)
#Automatic Spacing

Kumari Nandani Paliwal

In [2]:
print(lname, ",",name,mname)

Paliwal , Kumari Nandani

In [5]:
# to remove the space before comma
print(lname+",",name,mname)

Paliwal, Kumari Nandani

In [6]:
# Separator other than whitespace
print(name,mname,lname,sep="_")
print("Karan","Arjun",sep="-")

Kumari_Nandani_Paliwal
Karan-Arjun

In [7]:
print("Hello")
print("World")

Hello
World

In [13]:
# Problem with above statement is that end of string is new line character
# custom endline character
print("Hello", end="!")
print("World")

Hello!World

In [ ]:
# Importing Something
import somemodule
or use
from somemodule import somefunction
or
from somemodule import somefunction, anotherfunction, yetanotherfunction
or
from somemodule import *

In [15]:
import math
math.sqrt(4)

2.0

In [16]:
from math import sqrt
sqrt(2)

1.4142135623730951

In [22]:
from math import sqrt, log
print(sqrt(5))
print(log(10))

2.23606797749979
2.302585092994046

In [24]:
from math import *
print(sqrt(9))
print(log(12))

3.0
2.4849066497880004

In [25]:
# Using allias
from math import sqrt as foo
foo(19)

4.358898943540674

In [26]:
# Multiple assignments
x,y,z = 1,2,3
print(x,y,z)

1 2 3

In [27]:
#But the problem is
# if values are less than number of variables
a,b,c =1,2

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
a, b, *rest = 1,2,3,4,5
print(a)        
print(b)
print(rest)
# 1st value is assigned to 1st variable
# 2nd value is assigned to 2nd variable
# rest of the values are assigned to rest in the form of list
# *rest describes that rest can take any number of values

1
2
[3, 4, 5]

In [31]:
name = "Gangadhar Vidyadhar Mayadhar Omkarnath Shastri"
fname,*middle, avainame, lname = name.split()
print(fname)
print(middle)
print(avainame)
print(lname)

Gangadhar
['Vidyadhar', 'Mayadhar']
Omkarnath
Shastri

In [35]:
#Chained Assignment
x = y= foo(4)                # foo is allias for sqrt
print(x,y)

# this is equals to 
# y = foo(4)
# x = y

2.0 2.0

# Swap two variables

In [11]:
age_1 = 21
age_2 = 22

In [13]:
age_1

21

In [14]:
age_2

22

In [15]:
temp = age_1                      # temporary variable
age_1 = age_2
age_2 = temp

In [16]:
age_1                             # Swapped

22

In [17]:
age_2

21

# Type Conversion

In [19]:
int(17 / 2.0)            #gives only integer part of 17/2.0

8

In [25]:
float(17 // 2)

8.0

In [21]:
str(17 / 2.0)          #converts returned data type into string

'8.5'

In [23]:
round(7.8)

8

In [22]:
weight_1 = 25
weight_2 = 25.5
weight = weight_1 + weight_2         # while adding converts int into float
print(weight)

50.5

In [23]:
type(weight_1)

int

In [24]:
type(weight_2)

float

In [25]:
weight

50.5

In [26]:
# Implicit conversion
print("weight = ",weight)       #converts float(50.5) into string and prints it

weight =  50.5

In [27]:
# Explicit conversion
weight_1 = input()                # input is by default taken as string
weight_2 = input()
weight = weight_1 + weight_2
print(weight)

25
25.5
2525.5

In [29]:
weight = float(weight_1) + float(weight_2)       # converts string into float
print(weight)

50.5

In [30]:
# OR
weight_1 = float(input())
weight_2 = float(input())
weight = weight_1 + weight_2
weight

25
25.5

50.5

# Arithmetic Operators

Addition

In [1]:
cats = 3
dogs = 4
pets = cats + dogs

In [2]:
pets

7

In [4]:
candies = 5 
candies += 3                # candies = candies + 3  
candies

8

Subtraction

In [5]:
total_dist = 100
dist_covered = 25
remaining_dist = total_dist - dist_covered
remaining_dist

75

In [6]:
candies

8

In [7]:
candies -= 3                   # candies = candies - 3
candies

5

Multiplication

In [8]:
avg = 20
fuel = 5
distance = avg * fuel
distance

100

In [9]:
candies

5

In [10]:
candies *= 10                           # candies = candies * 10
candies

50

Division

In [11]:
distance = 100
fuel = 5
avg = distance / fuel
avg

20.0

In [12]:
candies

50

In [13]:
candies /= 2                  # candies = candies / 2
candies

25.0

Modulo Division

In [14]:
dividend = 21
divisor = 10
remainder = dividend % divisor       # % returns remainder
remainder

1

Floor division

In [15]:
dividend = 21
divisor = 10
quotient = dividend // divisor       # // returns floor division or quotient
quotient

2

Exponentiation

In [16]:
x = 10
x = x ** 2                     # Power function (10 ** 2)
x

100

## Conditional / Relational Operators

In [1]:
p, z, n = 1, 0, -1

In [2]:
p == n

False

In [3]:
p >= n

True

In [4]:
n < z < p

True

In [6]:
n + p != z

False

In [ ]:
# The Python Comparison Operators
x == y      : x equals y.
x < y       : x is less than y.
x > y       : x is greater than y.
x >= y      : x is greater than or equal to y.
x <= y      : x is less than or equal to y.
x != y      : x is not equal to y.
x is y      : x and y are the same object.
x is not y  : x and y are different objects.
x in y      : x is a member of the container (e.g., sequence) y.
x not in y  : x is not a member of the container (e.g., sequence) y.

In [39]:
x = y = [1, 2, 3]
z = [1, 2, 3]
print(x is y)
print(x is z)
print(x is not z)

True
False
True

==

In [17]:
#odd or even
count = 10
if count % 2 == 0 :                        # exactly equal to
    print("Even number")
else :
    print("Odd number")

Even number

!=

In [18]:
count = 9
if count % 2 != 0 :                         # not equal to
    print(count,"is an odd no")
else :
    print(count,"is an even no")

9 is an odd no

< or <=

In [19]:
raj_age = 15
rahul_age = 20
if raj_age < rahul_age :                   # less than (<) or less than or equal to(<=)
    print("Raj is younger than Rahul")
else :
    print("Raj is elder than Rahul")

Raj is younger than Rahul

#> or >=

In [20]:
raj_age = 25
rahul_age = 20
if raj_age > rahul_age :                   # greater than (>) or greater than or equal to(>=)
    print("Raj is elder than Rahul")
else :
    print("Raj is younger than Rahul")

Raj is elder than Rahul

In [7]:
# The assert statement
# No error if condition is True
# Raises error if condition is False
assert p != n
assert p == n

AssertionError:

In [8]:
# Can supply an optional message
assert p != n
assert p == n, "Oops! Condition failed"

AssertionError: Oops! Condition failed

## Logical operators

and

In [21]:
age = 16
if age >= 13 and age <= 19 :                    # logical and
    print("Teenager")

Teenager

or

In [22]:
qual = "bachelors"
exp = 7
if qual == "bachelors" or exp >= 5 :             # logical or
    print("qualified for job")

qualified for job

not

In [23]:
x = 5
x > 4

True

In [24]:
not x > 4                # logical not

False

In [28]:
95 / 23 ** 2

0.17958412098298676

In [29]:
( 95 / 23) ** 2

17.06049149338374

In [30]:
95 / (23 ** 2)

0.17958412098298676

## Flow Control

### Branching

if

In [2]:
floors = 10
current_floor = 0
user_floor = 0
user_floor = int(input())

difference = user_floor - current_floor

if difference > 0 :
    print("Move Up")
    current_floor = user_floor
if difference < 0 :
    print("Move Down")
    current_floor = user_floor

5
Move Up

In [3]:
current_floor

5

In [4]:
emergency = "False"
user_floor = int(input())

difference = user_floor - current_floor

if difference > 0 :
    if emergency == "False" :                  # nested if statement                
        print("Move Up")
        current_floor = user_floor
if difference < 0 :
    if emergency == "False" :                  # nested if statement                     
        print("Move Down")
        current_floor = user_floor

2
Move Down

In [19]:
current_floor

2

elif

In [5]:
user_floor = int(input())
difference = user_floor - current_floor

if difference > 0 :
    print("Move Up")
    current_floor = user_floor
elif difference < 0 :
    print("Move Down")
    current_floor = user_floor

7
Move Up

In [24]:
current_floor

7

else

In [6]:
user_floor = int(input())
difference = user_floor - current_floor

if difference > 0 :
    print("Move Up")
    current_floor = user_floor
elif difference < 0 :
    print("Move Down")
    current_floor = user_floor
else :                                         # default case
    print("Open Door")

7
Open Door

In [33]:
# find if a no is positive, negative or zero

number = int(input()) 
if number > 0 :
        print("Positive no.")
        
elif number < 0 :
    print("Negative no.")
    
else :
    print("Zero")

-3
Negative no.

In [10]:
# find who is oldest

stud1_age = int(input())
stud2_age = int(input())
stud3_age = int(input())

if stud1_age > stud2_age :
    if stud1_age > stud3_age :
        print("Student 1 is oldest")
    else :
        print("Student 3 is oldest")
elif stud2_age > stud3_age :
    print("Student 2 is oldest")
else :
    print("Student 3 is oldest")

21
26
19
Student 2 is oldest

In [ ]:
# input score_str. It should be either 'AA' or from 0 to 100
# We wish to convert string into number using int 
# convert it to '0' if it is 'AA'
# if-else construct -
if score_str != 'AA' :
    score = int(score_str)
else :
    score = 0

In [ ]:
# Ternary Operator
ss = score_str
score = int(ss) if ss != 'AA' else 0

In [38]:
name = input("Input a name: ")
status = "friend" if name.endswith("ek") else "stranger"
print(status)

Input a name: Nandani
stranger

# Loops

### while loop (looping)

In [1]:
count = 1                            # initialisation
while count <= 10 :                  # condition
    print(count)
    count += 1                       # increment

1
2
3
4
5
6
7
8
9
10

In [2]:
floors = 10
current_floor = 0
user_floor = 0

while user_floor != "exit" :
    difference = user_floor - current_floor
    
    if difference > 0 :
        print("Move up")
        
    if difference < 0 :
        print("Move down")
        
    if difference == 0 :
        print("Open door")
        
    current_floor = user_floor
    user_floor = input()
    if user_floor != "exit" :
        user_floor = int (user_floor)

Open door
3
Move up
1
Move down
9
Move up
9
Open door
exit

range

In [8]:
series = range(10)                     # range of nos from 0 to 9
series

range(0, 10)

In [9]:
type(series)

range

In [4]:
list(series)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
series = range(10,21)                   # range of nos from 10 to 20
series

range(10, 21)

In [11]:
list(series)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
series = range(1,11,2)             # range of nos from 1 to 10 in steps of 2
series

range(1, 11, 2)

In [13]:
list(series)

[1, 3, 5, 7, 9]

In [14]:
series = range(2, 11 , 2)
list(series)

[2, 4, 6, 8, 10]

### for loop (iterating)

In [15]:
numbers = range(10)
for number in numbers :
    print(number)                   # ends with new line

0
1
2
3
4
5
6
7
8
9

In [16]:
numbers = range(10)
for number in numbers :
    print(number , end=" ")            # ends with space

0 1 2 3 4 5 6 7 8 9

In [18]:
for number in range(10) :
    print(number , end = " ")

0 1 2 3 4 5 6 7 8 9

In [21]:
# odd nos between 1 and 20
# using for loop
numbers = range(1,21)
for number in numbers :
    if number % 2 != 0 :
        print(number , end = " ")

1 3 5 7 9 11 13 15 17 19

In [2]:
# nos form 1 to 10 in reverse order

for i in range(1,11) :
    print(11-i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [5]:
for i in range(10,0,-1) :
    print(i , end = " ")

10 9 8 7 6 5 4 3 2 1

In [6]:
# fibonacci series
# using for loop
a = 0
b = 1
sum = 0
for i in range(10) :
    print(a, end = " ")
    sum = a + b
    a = b
    b = sum

0 1 1 2 3 5 8 13 21 34

In [7]:
# using while loop
a = 0
b = 1
sum = 0
i = 1
while i <= 10 :
    print(a, end = " ")
    sum = a + b
    a = b
    b = sum
    i += 1

0 1 1 2 3 5 8 13 21 34

In [8]:
# nos between 1 and 100 which are multiple of 5
numbers = range(1,101)
for number in numbers :
    if number % 5 == 0 :
        print(number, end = " ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [40]:
# Parallel Iterations between two lists
names = ['anne', 'beth', 'george', 'damon']
ages = [12, 45, 32, 102]
i =0
while i<len(names):
    print(names[i], 'is', ages[i], 'years old')
    i+=1

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [41]:
# with for loop
for i in range(len(names)):
    print(names[i], 'is', ages[i], 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [46]:
zip(names,ages)

In [43]:
# the better way
for name, age in zip(names, ages):
    print(name, 'is', age, 'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 102 years old

In [47]:
# what is zip: zips together the sequences, returning a sequence of tuples
list(zip(names, ages))

[('anne', 12), ('beth', 45), ('george', 32), ('damon', 102)]

In [48]:
# zip even works when sequence is of differet lengths too
list(zip(range(5), range(100000000)))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [65]:
# Numbered Iteration
strings = "Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall".split()
for string in strings:
    if 'Dumpty' in string:
        index = strings.index(string) # Search for the string in the list of strings
        strings[index] = 'Sharma'
print(strings)

['Humpty', 'Sharma', 'sat', 'on', 'a', 'wall,', 'Humpty', 'Sharma', 'had', 'a', 'great', 'fall']

In [66]:
# easier way
index = 0
for string in strings:
    if 'Humpty' in string:
        strings[index] = "Rohit"
        index += 1
print(strings)

['Rohit', 'Rohit', 'sat', 'on', 'a', 'wall,', 'Humpty', 'Sharma', 'had', 'a', 'great', 'fall']

In [68]:
# Problem. Solution: iterate over index-value pairs
strings = "Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall".split()
for index, string in enumerate(strings):
    if 'Dumpty' in string:
        strings[index] = 'Sharma'
print(strings)

['Humpty', 'Sharma', 'sat', 'on', 'a', 'wall,', 'Humpty', 'Sharma', 'had', 'a', 'great', 'fall']

### modify loop :
### 1. continue

In [2]:
# nos not divisible by 5
for i in range(1,101) :
    if i % 5 == 0 :
        continue
    print(i, end = " ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [3]:
# sum of odd nos between 1 and 100
numbers = range(1,101)
sum = 0
for number in numbers :
    if number % 2 == 0 :
        continue                     # returns to start of the loop
    sum = sum + number
print("Sum of odd nos is ",sum)

Sum of odd nos is  2500

In [6]:
# sum of alternate odd nos between 1 and 100
sum = 0
alternate = True
for number in range(1,101) :
    if number % 2 == 0 :
        continue
    if alternate == True :
        sum = sum + number
        alternate = False
        continue
    alternate = True
print(sum)

1225

### 2. break

In [11]:
# occurence of nth odd number
count = 0
nth_odd = int(input("Enter the occurence of odd number you want to find >>"))
nth_odd_no = 0

for i in range(1,101) :
    if i % 2 != 0 :
        count += 1
        if count == nth_odd :
            nth_odd_no = i
            break                             # exits the loop
            
print(count, "th odd number is",nth_odd_no )

Enter the occurence of odd number you want to find >>6
6 th odd number is 11

### 3. pass

In [69]:
#Nothing Happened
# pass
for i in range(0,10):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

In [16]:
for i in range(1,6) :
    for j in range(1,i+1) :
        print(i , end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [19]:
for i in range(0,5) :
    for j in range(0,i+1) :
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [22]:
# multiplication table
prod = 1
for i in range(1,4) :
    for j in range(1,11) :
        prod = i * j
        print(i, "x",j ,"=",prod)
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [25]:
# prime nos
first = int(input("First no >>"))
last = int(input("Last no >>"))
found = True

for number in range(first,last+1) :
    found = True
    for i in range(2, int(number/2)+1 ) :
        if number % i == 0 :
            found = False
            print("number", number, "is not a prime no")
            break
    if found == True :
        print("number", number, "is prime no")
        found = True

First no >>1
Last no >>15
number 1 is prime no
number 2 is prime no
number 3 is prime no
number 4 is not a prime no
number 5 is prime no
number 6 is not a prime no
number 7 is prime no
number 8 is not a prime no
number 9 is not a prime no
number 10 is not a prime no
number 11 is prime no
number 12 is not a prime no
number 13 is prime no
number 14 is not a prime no
number 15 is not a prime no

In [33]:
# prime nos using for-else

for number in range(1,16) :
    for i in range(2 , int(number/2)+1) :
        if number % i == 0 :
            print("number", number, "is not prime")
            break
    else :
        print("number" ,number, "is prime")

number 1 is prime
number 2 is prime
number 3 is prime
number 4 is not prime
number 5 is prime
number 6 is not prime
number 7 is prime
number 8 is not prime
number 9 is not prime
number 10 is not prime
number 11 is prime
number 12 is not prime
number 13 is prime
number 14 is not prime
number 15 is not prime

## in-built functions of python

In [19]:
string = "Nandani Paliwal"
len(string)

15

In [2]:
list = [1,3,5,67,3,4,8]
len(list)

7

In [3]:
tuple = (1,4,3,6,8,53,24)
len(tuple)

7

In [4]:
set = {1,4,3,6,8,53,24}
len(set)

7

In [5]:
dictionary = {1:21 , 2:5}
len(dictionary)

2

In [7]:
i = range(100)
len(i)

100

In [6]:
integer = 5                  # not a iterable
len(integer)

TypeError: object of type 'int' has no len()

In [8]:
# abs() - returns absolute value
age = -28
abs(age)

28

In [9]:
weight = -52.6
abs(weight)

52.6

In [10]:
num = 3 + 4j             # returns the magnitude
abs(num)

5.0

In [11]:
age = "-28"                     #not applicable on strings
abs(age)

TypeError: bad operand type for abs(): 'str'

In [12]:
# max() - returns maximum value
list = [1,3,5,67,3,4,8]
max(list)

67

In [14]:
# min() - returns minimum value
list = [1,3,5,67,3,4,8]
min(list)

1

In [20]:
string = "Nandani Paliwal"         # returns alphabetically last element in the string
max(string)

'w'

In [21]:
string = "NandaniPaliwal"         # returns alphabetically first element in the string(here space)
min(string)

'N'

### String containership

In [9]:
fruits = 'apple, banana, pear'
'apple' in fruits               # checks if substring is present in string

True

In [10]:
'potato' in fruits

False

In [13]:
'apple ' in fruits

False

Exercises

In [31]:
# Given a 2 digit integer number, find the digits of the number
x = int(input())
a = x // 10
b = x % 10
print("a=",a,"and b=",b)

38
a= 3 and b= 8

In [32]:
# or
sx = input()
a = int(sx[0])
b = int(sx[1])
print("a=",a,"and b=",b)

38
a= 3 and b= 8

In [33]:
# Given an arbitrary integer, count the number of digits it has

x = input()
print(len(x))

12345667
8

Input and output operation

In [34]:
# input operation
x = input()            #input() always returns a string
x

1234

'1234'

In [35]:
x = int(input())       # if we want int we have to explicitly convert it
x

34

34

In [36]:
# we can also provide prompt string
x = input('Enter a integer:')
print(int(x))

Enter a integer:386
386

In [37]:
# output operation - print()
print('Hello', 'World')
print('Goodbye', 'World')
'''Here there are two arguments in print function - "Hello" and "world"
print automatically adds a space between two arguments
also print automatically adds a new line after each statement'''

Hello World
Goodbye World

'Here there are two arguments in print function - "Hello" and "world"\nprint automatically adds a space between two arguments\nalso print automatically adds a new line after each statement'

In [40]:
print("hello", end=' ')           # if we want to end with another character(default is space)
print("world")

hello world

In [4]:
# Armstrong Number
num = input()
a = int(num[0])
b = int(num[1])
c = int(num[2])
for i range(100,1000)
if a**3 + b**3 + c**3 == int(num) :
    print("Armstrong number")
else :
    print("Not")

153
Armstrong number