### Date Object 
- The date object just deals with the date – year, month and day of the month – and doesn’t include time.

In [7]:
from datetime import date 
d = date(2021, 5, 7)             # Initialize a date object
d

datetime.date(2021, 5, 7)

In [18]:
d.year

2021

In [32]:
today = date.today()             # Initialize a date object from today's date
today

datetime.date(2021, 5, 8)

In [33]:
import time
from datetime import date
today = date.fromtimestamp(time.time())       # Initialize a date object from time in seconds
today

datetime.date(2021, 5, 8)

In [34]:
# The key attributes ( day, month and year ) can be extracted using the read-only attributes – 
# day, month & year
today.day

8

In [12]:
today.month

5

In [13]:
today.year

2021

In [35]:
# date.replace() - replace specific attributes (day, month or year) .
today.replace(year = 2020)

datetime.date(2020, 5, 8)

In [19]:
# weekday - returns the day of the week
# 0-Monday, 1-Tuesday, 2-Wednesday ...
today.weekday()

4

In [23]:
# We can format the date object into a string using the strftime () function.
# Just provide the formatting info.
print ( today.strftime("%b '%y"))
print ( today.strftime("%B '%y"))

'''
%b - Month as locale’s abbreviated name. (Jan, Feb, ..., Dec)
%y - Year without century as a zero-padded decimal number.(00, 01, ..., 99)
%B - Month as locale’s full name. (January, February, ..., December)
'''

May '21
May '21

In [21]:
print ( today.strftime("%Y-%m-%d"))

'''
%Y - Year with century as a decimal number.(0001, 0002, ..., 2013, 2014, ..., 9998, 9999)
%m - Month as a zero-padded decimal number.(01, 02, ..., 12)
%d - Day of the month as a zero-padded decimal number. (01, 02, ..., 31)
For more - https://docs.python.org/3.3/library/datetime.html#strftime-and-strptime-behavior
'''

2021-05-07

In [24]:
from datetime import date
 
today     = date(2019,1,7)
yesterday = date(2019,1,6)
 
print ( yesterday-today)

-1 day, 0:00:00

### timedelta Object

In [5]:
# The module timedelta can be used to add a particular delta unit of time
# We can add weeks, days, hours, minutes, seconds or even microseconds

from datetime import timedelta, date 
today = date.today()
print("Today ",today)
tomorrow = today + timedelta(days = 1 ) 
print("Tomorrow ",tomorrow)

Today  2021-05-08
Tomorrow  2021-05-09

In [6]:
tomorrow.day

9

In [7]:
# how many days between today and 1 week from now 
today = date.today()
week  = today + timedelta(weeks = 1) 
week-today 

'''Allowed operations:  + , - , compare (= , <) etc.'''

datetime.timedelta(days=7)

In [9]:
from datetime import date
 
today     = date(2019,1,7)
yesterday = date(2019,1,6)
 
today - yesterday

datetime.timedelta(days=1)

In [10]:
today < yesterday

False

In [11]:
print("Today ", today)
print ( (today - timedelta(days = 2)).day )

Today  2019-01-07
5

In [13]:
# month is not allowed in timedelta
print ( (today - timedelta(months = 2)).month)

TypeError: 'month' is an invalid keyword argument for __new__()

In [20]:
# How many days till my next birthday?
today = date.today()                  # Today's date
birthday = date(2001,7,12)            # My birthdate
next_birthday = date(today.year, birthday.month, birthday.day)    

# birthday already passed this year. So, calculate until the next year 
if next_birthday < today :     
    next_birthday = date(today.year+1, birthday.month, birthday.day) 

# so number of days till my next birthday will be
number_days = next_birthday - today
print(number_days)

65 days, 0:00:00

### datetime.time Object 
- key attributes -
  hour, minute, second, microsecond

In [23]:
# Initialize a time object, It is time relative to 12:00 midnight of a day
from datetime import time
now = time(7,12,21,320000)
print(now)

07:12:21.320000

In [24]:
# the time object also has read-only attributes to get the key parameters. 
now.hour

7

In [25]:
now.minute

12

In [29]:
now.second

21

In [27]:
now.microsecond

320000

In [31]:
# time object replace method
now.replace(hour=20)

datetime.time(20, 12, 21, 320000)

In [36]:
# strftime() - formatting
now.strftime("%I")
'''
%I - Hour (12-hour clock) as a zero-padded decimal number. (01, 02, ..., 12)
%p -  Locale’s equivalent of either AM or PM. ( AM, PM (en_US);  am, pm (de_DE) )
%X 	Locale’s appropriate time representation.  ( 21:30:00 (en_US); 21:30:00 (de_DE) )
'''

'07'

In [37]:
now.strftime("%p")

'AM'

In [38]:
now.strftime("%X")

'07:12:21'

Time Object

This is a different time object compared to the one above. It is not part of the datetime module. Every computer measures time in seconds since a starting point. Typically, its 1970. The time ( ) functions gives the number of seconds since.

In [43]:
import time 
now = time.time() 
now
# number of seconds passed since Jan 1st 1970 (Also called Epoch)

1620487857.8831153

In [44]:
# This simple function can be pretty useful in programs, specifically to calculate how long 
# it takes for a piece of code to execute.
before = time.time() 
sum = 0
for i in range(10000000) :     
    sum = sum + i 
after = time.time() 
time_taken = after - before 
time_taken

1.8908185958862305

In [45]:
# localtime() - a function in the time object that can return the local time, 
# broken down into year, month, day, hour… etc. 
import time
 
print (time.localtime())
'''
localtime function returns the local time (as per the system's locale)
The returned object is a tuple. It is of type struct_time
tm_year = year
tm_mon = month
tm_mday = day
tm_hour = hour
tm_min = minutes
tm_sec = seconds
tm_wday = weekday
tm_yday = day of the year
'''

time.struct_time(tm_year=2021, tm_mon=5, tm_mday=8, tm_hour=21, tm_min=3, tm_sec=30, tm_wday=5, tm_yday=128, tm_isdst=0)

### Datetime Object

datetime object contains info on both date and time.

In [49]:
import datetime 
datetime.datetime.now() 
# year, month, date, hour, minutes, seconds, microseconds

datetime.datetime(2021, 5, 8, 21, 10, 42, 26959)

In [51]:
now = datetime.datetime(2021, 5, 8, 21, 10, 42, 26959) 
now

datetime.datetime(2021, 5, 8, 21, 10, 42, 26959)

In [52]:
# We can also extract all of the info back from the datetime object.
now.day

8

In [53]:
now.second

42

In [54]:
# We can even extract specific dateand time objects.
now.date()

datetime.date(2021, 5, 8)

In [55]:
now.time()

datetime.time(21, 10, 42, 26959)

In [57]:
'''
We can also extract date and time from text.
To extract text and convert it into date or time objects, use the strptime function of datetime
object.
'''

from datetime import datetime  
d = "JUN-15-1980"
date = datetime.strptime(d, "%b-%d-%Y") 
date

datetime.datetime(1980, 6, 15, 0, 0)

In [58]:
date.weekday()               # 6 = Saturday

6

Challenges

In [60]:
# Add 7 days to the current day
from datetime import date, timedelta
today =  date.today()
print(today)
days_seven = today + timedelta(days = 7)
print(days_seven)

2021-05-08
2021-05-15

In [68]:
# Add 7 seconds to the current time.
from datetime import time,timedelta
now = datetime.now()
print(now)
now_7 = now + timedelta(seconds = 7)
print(now_7)

2021-05-08 21:22:58.578943
2021-05-08 21:23:05.578943

In [69]:
# Get the current week number of the year.
from datetime import datetime, time
 
now = datetime.now ()
current_week = now.isocalendar()
 
# tuple of year, week number, week day
print ( current_week)

(2021, 18, 6)

In [75]:
# Add 1 year, 2 months and 3 days to the current date

from datetime import datetime, timedelta
 
now = datetime.now ()
now_new = now
 
# add one year
now_new = now_new.replace ( year = now.year + 1)
 
# add two month
year  = now_new.year
month = now_new.month + 2
 
if month > 12 :
    year  = year + 1
    month = month - 12

now_new = now_new.replace ( year = year, month = month)
 
# add 3 days
now_new = now_new + timedelta(days = 3)
 
print ( now ,"\n",now_new)

2021-05-08 21:31:38.482759
 2022-07-11 21:31:38.482759

In [79]:
# Get all the dates of sundays in the current year

from datetime import date, timedelta
 
#get the first sunday in the year
today = date(date.today().year,1,1)
today.weekday()  # monday = 0, tuesday = 1...
sunday = today + timedelta(days = 6 - today.weekday())
print(sunday)
while ( sunday.year == today.year) :
    sunday = sunday + timedelta(days=7)
    print ( sunday )

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26
2022-01-02

In [80]:
# Print the number of days in February across all the years starting 2000 till date.

from datetime import date, timedelta
 
#we are iterating over each day and finding out the total number of days. 
#This is definitely not efficient
 
# get the date for feb month of 2000
feb = date(2000,2,1)
 
for year in range(2000,date.today().year + 1) :
    month = feb.month
     
    count = 1
    for i in range(1,31) :  # at most 31 days  
        feb = feb + timedelta(days = 1)
         
        # as long as we are still in feb
        if feb.month == month : 
            count = count + 1
     
    # print out the count
    print ( year, count)
     
    # add one year 
    feb = feb.replace( year = feb.year + 1)
     
    # and reset the date to 1st of feb
    feb = feb.replace(month = 2, day = 1)

2000 29
2001 28
2002 28
2003 28
2004 29
2005 28
2006 28
2007 28
2008 29
2009 28
2010 28
2011 28
2012 29
2013 28
2014 28
2015 28
2016 29
2017 28
2018 28
2019 28
2020 29
2021 28

In [83]:
# Print your name 10 times with a delay of 1 second. 
import time
 
for i in range(10) : 
    print ( "Nandani") 
    time.sleep(1)

Nandani
Nandani
Nandani
Nandani
Nandani
Nandani
Nandani
Nandani
Nandani
Nandani