# Strings

Anything within quotes is a string
- " This is a string "
- ' This too! '
- ''' This one too '''
- """ And one more! """

In [1]:
name = "Nandani"                 # String    (using double quotes"")
name

'Nandani'

In [2]:
type(name)

str

In [3]:
name_1 = 'Paliwal'               # string (using single quotes'')
name_1

'Paliwal'

In [4]:
# Using triple quotes
sentence = '''Harry Potter And The Sorcerors Stone'''
sentence

'Harry Potter And The Sorcerors Stone'

In [5]:
sentence = '''Harry Potter and the Sorceror's Stone''' 
sentence

"Harry Potter and the Sorceror's Stone"

In [6]:
sentence = '''My favorite book is "Harry Potter and the Sorceror's Stone"'''
sentence

'My favorite book is "Harry Potter and the Sorceror\'s Stone"'

In [7]:
# single or double quotes within the string

name = 'That was Maya's book'

SyntaxError: invalid syntax (<ipython-input-7-6976dd6a3657>, line 3)

In [8]:
# either

name = 'That was Maya\'s book'           #use backslash \ to escape '
name

"That was Maya's book"

In [9]:
# or

name_1 = "That was Maya's book"          # use double quotes
name_1

"That was Maya's book"

### String Manipulation

In [10]:
# string indexing   (index starts with 0 through n-1)

name = 'Nandani Paliwal'
name

'Nandani Paliwal'

In [11]:
# string[start:stop:steps]
name[0]                      # slices 1 character of string

'N'

In [16]:
# negative indexing - from backward
name[-1]                    # returns last element

'l'

In [12]:
name[:5]                    # slices from index 0 to 4

'Nanda'

In [13]:
name[8:]                    # slices from index 8 to end

'Paliwal'

In [14]:
name[1:6]                  # slices from 1 to 5

'andan'

In [15]:
name[8:20]                 # Returns no error if index goes out of length

'Paliwal'

In [17]:
name[:10:2]               # slices from 0 to 10 in steps of 2

'NnaiP'

In [18]:
# strings are immutable   (we cannot modify a string)
name[1] = '@'

TypeError: 'str' object does not support item assignment

In [19]:
# Instead use slicing and concatenation
name = name[0] + '@' + name[2:]
name                            # This creates a new variable 'name', doesn't modify previous name

'N@ndani Paliwal'

In [1]:
#concatening string
"Hello," + "World"

'Hello,World'

In [2]:
x = "Hello,"
y = "world"
print(x+y)

Hello,world

In [6]:
print("Hello \n World")

Hello
 World

In [4]:
print(repr("Hello \n world"))

'Hello \n world'

In [7]:
#Long strings
print('''This is a long string
still continuing...
and still continuing.''')

This is a long string
still continuing...
and still continuing.

In [10]:
print \
("Hello world")

Hello world

In [11]:
1 + 2 \                   #continue in next line
+ 3 + 4

10

In [12]:
print('C:\nowhere')     #\n repesents new line character

C:
owhere

In [13]:
print('C:\\nowhere')           #use one more \ preceding \n to escape it

C:\nowhere

In [14]:
#or use r
print(r'C:\nowhere')

C:\nowhere

In [15]:
path = r'C:\nowhere'
print(path)

C:\nowhere

In [16]:
print('Let's go')            # ' inside ''

SyntaxError: invalid syntax (<ipython-input-16-2d1e7b12ed8a>, line 1)

In [23]:
print(r'Let \'s go')

Let \'s go

In [24]:
print('Let\'s go')

Let's go

In [25]:
print("Let's go")       #use ' inside ""

Let's go

In [26]:
print('We need \')

SyntaxError: EOL while scanning string literal (<ipython-input-26-18b3bda7f973>, line 1)

In [27]:
#need atleast one character after \
print('We need \ after this')

We need \ after this

In [29]:
#but if we need \ at end of string
print('C:users\owner\\nandani\\')

C:users\owner\nandani\

In [32]:
#or
print(r'C:users\owner\nandani''\\')

C:users\owner\nandani\

In [57]:
#Unicode, bytes and bytearray
print("\u00C6")
"This is a cat: \N{Cat}"               #for more http://unicode-table.com

Æ

'This is a cat: 🐈'

In [59]:
'This is a parrot : \N{Parrot}'

'This is a parrot : 🦜'

In [58]:
"This is a cow: \N{Cow}"

'This is a cow: 🐄'

In [46]:
#String formatting
format = 'Hello %s %s am Nandani'
values = ('world', 'I')
format % values

'Hello world I am Nandani'

In [47]:
a = input()
string = 'Hello my name is %s'
string % a

Nandani

'Hello my name is Nandani'

In [52]:
#similar unix shell sytax
from string import Template
tmpl = Template("Hello, $who! $how is enough for students?")
tmpl.substitute(who="Abhishek", how="Python")

'Hello, Abhishek! Python is enough for students?'

In [38]:
x, y = 1, 1.25
'x is %d and y is %f' %(x,y)

'x is 1 and y is 1.250000'

In [37]:
'Hello %s I am %s' %('world','Nandani')

'Hello world I am Nandani'

In [53]:
#using {} and format.
"Hello {} I am {}".format("world","Nandani")

'Hello world I am Nandani'

In [54]:
#using index
"hello {0} I am {1}".format("world","Nandani")

'hello world I am Nandani'

In [55]:
"hello {1} I am {0}".format("world","Nandani")

'hello Nandani I am world'

In [56]:
#error
"hello {1} I am {}".format("world", "nandani")

ValueError: cannot switch from manual field specification to automatic field numbering

In [57]:
'{3} {2} {1} {0} {3} {2}'.format('not', 'or', 'be', 'to')

'to be or not to be'

In [1]:
from math import pi
"{symbol} is approximately {value}".format(value = pi, symbol = "π")
#instead of position use variable name

'π is approximately 3.141592653589793'

In [3]:
#printing upto two places of decimal
from math import pi
"{symbol} is approximately {value:.2f}".format(value = pi, symbol = "π")

'π is approximately 3.14'

In [4]:
"{} {foo} {bar} {}".format(1, 2, foo=4, bar=3)

'1 4 3 2'

In [5]:
"{foo} {1} {0} {bar}".format(3, 4, foo = 1, bar = 2)

'1 4 3 2'

In [7]:
#taking values from list
fullname = ['Ku.', 'Nandani', 'Paliwal']
"Ms. {name[1]}".format(name = fullname)

'Ms. Nandani'

In [8]:
"The number is {num}".format(num = 42)

'The number is 42'

In [9]:
"The number is {num:f}".format(num = 42)        #f denotes float

'The number is 42.000000'

In [10]:
#3 places after decimal
"The number is {num:.3f}".format(num = 42)

'The number is 42.000'

In [16]:
"The number is {num:b}".format(num = 16)       # b represents binary

'The number is 10000'

In [1]:
s = 'Hello'
s * 4

'HelloHelloHelloHello'

### String Functions

In [60]:
# len() - returns length of a variable (iterable)
string = "Nandani Paliwal"
len(string)

15

In [4]:
# find() : finds the index at which a particular substring is present
name = 'Nandani Paliwal'
name.find('Paliwal')

8

In [14]:
name.find('ani')

4

In [22]:
name.find('kabir')                   # returns -1 if string is not present

-1

In [13]:
#index(str) : it also finds the index of first occurence at which a particular subtring str is present
name.index(' Pal')

7

In [10]:
# replace('old_string', 'new_string') : replaces the old_string with new_string in the main string
name.replace('Nandani', 'Pooja')

'Pooja Paliwal'

In [34]:
# split() - splits the string based on blank(space) and returns its list

name = 'Kumari Nandani Paliwal'
list_name = name.split()
list_name

['Kumari', 'Nandani', 'Paliwal']

In [25]:
# we can assign them in multiple variables

first , middle , last = name.split()
print(first)
print(middle)
print(last)

Kumari
Nandani
Paliwal

In [22]:
# if we want to split based on any other character

name = 'Kumari,Nandani,Paliwal'              # splits based on comma(,)
lst_name = name.split(',')
lst_name

['Kumari', 'Nandani', 'Paliwal']

In [26]:
# join() : joins the list of characters into a string
# reverse of split()
new_name = ' '.join(list_name)              # joins based on spaces
new_name

'Kumari Nandani Paliwal'

In [24]:
#if we want to join based on a comma and a space
new_name = ', '.join(lst_name)              
new_name

'Kumari, Nandani, Paliwal'

In [27]:
# strip() : removes any leading or trailing spaces

name_1 = 'Nandani'
name_2 = 'Nandani '             # has a trailing space
name_1 == name_2

False

In [28]:
name_2 = name_2.strip()                  # changes original name_2 variable
name_2

'Nandani'

In [29]:
name_1 == name_2

True

In [30]:
# but
name_1 = 'Nandani'
name_2 = 'Nandani '
name_2.strip()                  # doesn't changes original name_2 variable

'Nandani'

In [31]:
name_1 == name_2

False

In [32]:
# isalnum() : checks if the string is alphanumeric(contains only alphabets or numbers;no special 
# characters)
str = 'Nanda127'
str.isalnum()

True

In [33]:
str = 'Nanda@127'
str.isalnum()

False

In [34]:
# isalpha() : checks if the string is alphabetic ; no numbers or special characters
str = 'Nandani'
str.isalpha()

True

In [35]:
str = 'Nanda127'
str.isalpha()

False

In [36]:
# upper() : coverts whole string in upper case
name = 'Nandani Paliwal'
name_c = name.upper()
name_c

'NANDANI PALIWAL'

In [38]:
# title() : converts every letter after space to upper case; all other into lower case
name = 'nanDAni paliwal'
name_t = name.title()
name_t

'Nandani Paliwal'

In [39]:
# lower() : converts whole string into lower case
name = 'Nandani Paliwal'
name_l = name.lower()
name_l

'nandani paliwal'

In [40]:
# isupper()/islower() : checks if the string is in upper/lower case
name_c

'NANDANI PALIWAL'

In [41]:
name_c.isupper()

True

In [42]:
name_l

'nandani paliwal'

In [43]:
name_l.islower()

True

In [44]:
# swapcase() : swaps upper to lower or lower to upper
name_c.swapcase()

'nandani paliwal'

In [46]:
# capitalize() : converts only first letter to upper case and others in lower case 
name = 'NANDAni paliwal'
name.capitalize()

'Nandani paliwal'

In [2]:
# endswith(str) : returns true if the string ends with 'str'
str = 'What a lovely day'
str.endswith('ay')

True

In [3]:
# startswith(str) : returns true if the string starts with str
str.startswith('Wh')

True

In [48]:
string = "Nandani Paliwal"         # returns alphabetically last element in the string
max(string)

'w'

In [50]:
string = "NandaniPaliwal"         # returns alphabetically first element in the string(here space)
min(string)

'N'

In [51]:
string = "Nandani Paliwal"         # returns alphabetically first element in the string(here space)
min(string)

' '

In [52]:
# reverse a string
name = 'Nandani'
rev_name = ''
i = len(name)
while i != 0 :
    rev_name = rev_name + name[i-1]
    i = i-1
rev_name

'inadnaN'

In [54]:
# split a string and convert first letter to upper case
str = input("Enter a string :")
list = str.split()
for i in list :
    print(i.capitalize(), end = " ")

Enter a string :my name is Nandani Paliwal
My Name Is Nandani Paliwal

In [55]:
# count the no of occurence of a character in the string
str = input("Enter a string :").upper()
char = input("Enter the character to be searched :").upper()
count = 0
for i in range(len(str)) :
    if char == str[i] :
        count += 1
print("Character", char, "occurs", count, "times")

Enter a string :This is a wonderful day
Enter the character to be searched :s
Character S occurs 2 times

In [56]:
# find the no of occurence of lower and upper case letters in a string
str = input("Enter a string :")
count_l = 0
count_u = 0
for i in range(len(str)) :
    if str[i].isupper() :
        count_u += 1
    elif str[i].islower() :
        count_l += 1
print("Upper case occurs", count_u, "times")
print("Lower case occurs", count_l, "times")

Enter a string :Nandani Paliwal
Upper case occurs 2 times
Lower case occurs 12 times