# Tuples

In [22]:
# Creating a tuple
tuple_1 = ("Angelina", 55, 165.5)                # inside parentheses
print(tuple_1)

('Angelina', 55, 165.5)

In [2]:
type(tuple_1)

tuple

In [4]:
# or
tuple_2 = "Angelina", 55, 165.5                  # without parentheses
print(tuple_2)

('Angelina', 55, 165.5)

In [5]:
type(tuple_2)

tuple

In [2]:
# empty tuple
empty_t = ()
type(empty_t)

tuple

In [6]:
# Creating a single element tuple
tuple_2 = ("Angelina")                      # wrong way
type(tuple_2)

str

In [7]:
# the right way is:
tuple_2 = ("Angelina", )
print(tuple_2)
print(type(tuple_2))

('Angelina',)
<class 'tuple'>

In [26]:
# converting list to tuple - using function tuple()
list_person = ["Angelina", 55, 165.5]
tuple_person = tuple(list_person)
print(tuple_person)

('Angelina', 55, 165.5)

In [28]:
# string to tuple
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [1]:
#difference between parenthesis and tuple
x = 3 * (40 + 2)
print(x)
y = 3 * (40 + 2,)
print(y)

126
(42, 42, 42)

In [8]:
# Tuple indexing
t = (1,2,3,4,5,6,7,8,9)
t[0] + t[3] + t[-1]

14

In [27]:
# tuple slicing  [initial:final:step]
t[0:4]

(1, 2, 3, 4)

In [29]:
t[0:7:2]

(1, 3, 5, 7)

In [9]:
# tuples are immutable
# we cannot update value of a tuple
t[4] = 10

TypeError: 'tuple' object does not support item assignment

In [1]:
# mutable elements of tuple can be changed
players = (["Angelina", 55, 165.5], ["Geeta", 51, 150])
players

(['Angelina', 55, 165.5], ['Geeta', 51, 150])

In [2]:
players[0][1] = 52                   # 55 updated to 52
players

(['Angelina', 52, 165.5], ['Geeta', 51, 150])

In [22]:
# Multiple assignments (tuple packing or tuple expansion)
# if we do a = 1,2 it packs it in a tuple (tuple packing)
# but if we do a, b= 1, 2 it unpacks 1 and 2 in a and b respectively (tuple expansion)
a, b = 1, (2, 3)
print(a, b)

1 (2, 3)

In [18]:
a, = [1]
type(a)

int

In [19]:
a, b = 1, 2

In [21]:
a, b = [1, 2]
print(a)
print(b)

1
2

In [24]:
# swaping variables becomes easy by tuple unpacking
a, b = 5, 7
a, b = b, a          # swapping
print(a)
print(b)

# traditional c way
# temp = a
# a = b
# b = temp

7
5

In [25]:
# also works fine with different data types
a = 2.5
b = 'Hello'
a, b = b, a
print(a)
print(b)

Hello
2.5

Tuple operations

In [3]:
# tuple.count(element) - returns no of occurences of any element in a tuple
num = (1,4,3,6,3,7,8,4,78,57,86,3)
num.count(3)

3

In [4]:
# if element doesn't exists
num.count(19)

0

In [5]:
# tuple.index(element) - returns the index of first occurence of element in the tuple
num.index(3)

2

In [6]:
num.index(78)

8

In [8]:
# len(tuple) - returns length of tuple
len(num)

12

In [9]:
# max(tuple) - returns maximum element of tuple
max(num)

86

In [10]:
# min(tuple) - returns minimum element of tuple
min(num)

1

In [21]:
# in case of string - returns alphabetically last element   (lowercase comes after uppercase)
android_versions = ('Cupcake', 'Marshmallow', 'Gingerbread', 'Kitkat', 'Oreo', 'Pie', 'Donut')
max(android_versions)

'Pie'

In [22]:
min(android_versions)                     # returns alphabetically first element

'Cupcake'

In [23]:
# del(tuple) - deletes the tuple
del(android_versions)

In [24]:
android_versions                   # It is now deleted from memory

NameError: name 'android_versions' is not defined

In [25]:
# sum(tuple) - Add up all elements of tuple
print(num)
sum(num)

(1, 4, 3, 6, 3, 7, 8, 4, 78, 57, 86, 3)

260

In [26]:
# filter()
ages = (4,5,7,3,4,11,7,8,5,8,5,13,2)
 
# Primary schools admits students from 5 to 11
def primary_schools ( age ) :
    if 11 >= age >= 5 :
        return True
    else :
        return False
 
primary_school_age = filter(primary_schools, ages)
 
for age in primary_school_age :
    print ( age )

5
7
11
7
8
5
8
5

In [15]:
#list(seq) Converts a sequence to a list
Tuple = ("Angelina", 55, 165.5) 
print(type(Tuple))
list_Tuple = list(Tuple)
print(list_Tuple)
print(type(list_Tuple))

<class 'tuple'>
['Angelina', 55, 165.5]
<class 'list'>

In [7]:
#reversed(seq) Lets you iterate over a sequence in reverse
for i in reversed(Tuple) :           
    print(i)

165.5
55
Angelina

In [19]:
#sorted(seq) Returns a sorted list of the elements of seq
num = (1,4,3,6,3,7,8,4,78,57,86,3)
sorted(num)

[1, 3, 3, 3, 4, 4, 6, 7, 8, 57, 78, 86]

In [20]:
#tuple(seq) Converts a sequence to a tuple
tuple('Hello')

('H', 'e', 'l', 'l', 'o')